# Tento soubor slouží pro interní potřeby při vývoji v GITu.

bin/
lib/
include/
data/
site/
_book/
node_modules/

*.py[co]
__pycache__/
.ipynb_checkpoints/

                     mňau
    mňau  >(^._.^)<
             mňau

pip-selfcheck.json
.gitignore
